.active-link {
  color: cornflowerblue;
}

.menu-spacer {
  flex: 1 1 auto;
}

.logo {
  height: 80%;
}

.language {
  width: 50px;
}

.btn-change-color {
  margin: 0 15px;
}

.user-name {
  margin-right: 15px;
  font-size: 16px;
}
